body {
  background-color: black;
  color: green;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#console {
  white-space: pre-wrap;
  padding: 20px;
}
